.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  color: #fff;
  box-shadow: 0 2px 8px rgba(30, 60, 114, 0.15);
  z-index: 1000;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(90deg, #1e3c72 10%, #2a5298 40%);
  transition: margin-top 0.3s ease, border-radius 0.3s ease, width 0.3s ease;
  justify-content: center;
}

.notScrolled {
  margin-top: 10px;
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.scrolled {
  margin-top: 0;
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.nav-links-content {
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 60%;
  padding: 0 1rem;
}

.nav-logo-content {
  display: flex;
  justify-content: left;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 25%;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-avatar-content {
  display: flex;
  justify-content: right;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 25%;
  margin-right: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  /* margin: 0; */
  /* padding: 0; */
}

.navbar button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  transition: background 0.2s, color 0.2s;
}
